/* boiller plate for css  */
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

/* Now, starts from here */

/* Order of specificity in CSS
--> Inline Styling --> ID styling --> CLASS styling --> Tag styling */

/* Generic styling for all the p tag */

p{
    color: violet;
}

/* Using a . for pointing to a class para2 */

.para2{
    color: blue ;
}


/* Using # for pointing to a ID para3 */

#para3{
    color: red ;
}

#maindiv{
    width: 30%;
    height: 20%;
    margin-top: 2%;
    margin-left: 2%;
    padding: 2%;
    text-decoration-color: black;
    text-align: center;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
}

#maindiv2{
    width: 30%;
    height: 20%;
    margin-top: 2%;
    margin-left: 2%;

    background-image: linear-gradient(orange,white,green);  
    
    border-style: solid;

    border-color: black;
    border-radius: 10px;

    font-weight: bold;
    text-align: center;
}

#car1{
    position:absolute;
    text-align: center;
    font-weight: bold;
    height: 100px;
    width: 100px;
    background-color: red;
}

#car2{
    position:absolute;
    text-align: center;
    font-weight: bold;
    height: 200px;
    width: 80px;
    background-color: blue;
}

#car3{
    position: absolute;
    text-align: center;
    font-weight: bold;
    height: 100px;
    width: 200px;
    background-color: green;
}

/* After making all the car 1,2,3 absolute
height of 3 > height of 2 > height 1
So, the element coming after wards will have more height  */