/* boiller plate for css  */
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

/* Now, starts from here */

/* Order of specificity in CSS
--> Inline Styling --> ID styling --> CLASS styling --> Tag styling */

/* Generic styling for all the p tag */

p{
    color: violet;
}

/* Using a . for pointing to a class para2 */

.para2{
    color: blue ;
}


/* Using # for pointing to a ID para3 */

#para3{
    color: red ;
}

#maindiv{
    width: 30%;
    height: 20%;
    margin-top: 2%;
    margin-left: 2%;
    padding: 2%;
    text-decoration-color: black;
    text-align: center;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
}