/* boiller plate for css  */
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

/* Now, starts from here */

/* Order of specificity in CSS
    Inline Styling --> ID styling --> (CLASS styling/Attribute/Pseduo-classes) --> Tag styling */

/* Generic styling for all the p tag */

p {
  color: violet;
}

/* Using a . for pointing to a class para2 */

.para2 {
  color: blue;
}

/* Using # for pointing to a ID para3 */

#para3 {
  color: red;
}

#maindiv {
  width: 30%;
  height: 20%;
  margin-top: 2%;
  margin-left: 2%;
  padding: 2%;
  text-decoration-color: black;
  text-align: center;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
}

#maindiv2 {
  width: 30%;
  height: 20%;
  margin-top: 2%;
  margin-left: 2%;

  background-image: linear-gradient(orange, white, green);

  border-style: solid;

  border-color: black;
  border-radius: 10px;

  font-weight: bold;
  text-align: center;
}

#car1 {
  text-align: start;
  font-weight: bold;
  height: 100px;
  width: 100px;
  background-color: lightsalmon;
  position: absolute;
}

/* relative > fixed  > */

#car2 {
  text-align: start;
  font-weight: bold;
  margin-left: 3%;
  height: 100px;
  width: 100px;
  background-color: aqua;
  position: absolute;
}

#car3 {
  text-align: start;
  font-weight: bold;
  margin-left: 6%;
  height: 100px;
  width: 100px;
  background-color: lightgreen;
  position: absolute;
}

/* After making all the car 1,2,3 absolute
height of 3 > height of 2 > height 1
So, the element coming after wards will have more height  */

#box-container {
  display: flex;
  justify-content: space-between;
  justify-content: space-around;
  align-items: center;
  height: 400px;
  width: 400px;
  margin: 2%;
  padding: 2%;
  border: 1px solid black;
  border-radius: 5px;
  background-image: linear-gradient(aqua, yellow);
}

#box1 {
  height: 20%;
  width: 20%;
  color: red;
  justify-content: center;
  text-align: center;
  border: 1px solid black;
}

#box2 {
  height: 20%;
  width: 20%;
  color: blue;
  text-align: center;
  border: 1px solid black;
}

#box3 {
  height: 20%;
  width: 20%;
  text-align: center;
  color: maroon;
  border: 1px solid black;
}
